*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #20374C;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-text{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #977C5A;
  transition: background-color 0.5s ease;
}
button:hover{
  background-color: darkgrey;
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid lightgray;
  color: black;
  border-radius: 15px;

}
ol{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
li{
  font-size: 2rem;
  font-weight: bold;
  background-color: #F2DECC;
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
  max-width: 800px;
}
span{
  color: #20374C;
  padding-inline: 20px;
  max-width: 430px;
}
.btn-del{
  background-color: darkred;
}
.btn-edit{
  background-color: black;
}
.btn-done{
  background-color: forestgreen;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
}